<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Quickstart your next web project with these example layouts."/>

    <title>Beholder</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200"/>
</head>
<body>
    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Событие</th>
                <th>Объект</th>
                <th>Субъект</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>
                    {{ log.event }}<br/>
                    <i>{{ log.event_desc }}</i>
                </td>
                <td>
                    #{{ log.obj }}<br/>
                    <i>{{ log.obj_desc}}</i>
                </td>
                <td>
                    #{{ log.subj }}<br/>
                    <i>{{ log.subj_desc }}</i>
                </td>
                <td>
                    {{ log.event }}, {{ log.timestamp }}<br/>
                    <i>{{ log.event_desc }}</i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
